DATABASE_URL=mongodb://root:root@mongo:27018/openqDB?authSource=admin
ACTUAL_URL=mongodb://root:root@mongo:27018/openqDB?authSource=admin
TEST_URL=mongodb+srv://openq:openq@cluster0.9voft.mongodb.net/openqDB?retryWrites=true&w=majority
OPENQ_API_URL=http://localhost:4000/
OPENQ_SUBGRAPH_HTTP_URL=http://graph_node:8000/subgraphs/name/openqdev/openq
OPENQ_API_SECRET=secret123!
PORT=4000
COOKIE_SIGNER=entropydfnjd23
PROPERTY_ID=<PROPERTY_ID>
GOOGLE_APPLICATION_CREDENTIALS=./src/context/auth.json
ORIGIN=http://localhost:3000,http//openq-frontend:3000,host.docker.internal:3000,http://localhost:8075,http://openq-bounty-actions-autotask:8075,http://localhost:4000,http://openq-api:4000,https://studio.apollographql.com
DEPLOY_ENV=production

# TESTING
GITHUB_OAUTH_TOKEN=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
GITHUB_USER_ID=U_kgDOBZIDuA
OTHER_GITHUB_USER_ID=U_kgDOBZIDuAsdf

EMAIL=abc@gmail.com
OTHER_EMAIL=abc@gmail.com
EMAIL_OAUTH=<secret>